.log-in {
  margin: 30%;
  margin-top: 10%;
  background-image: url("images/mountain.png");
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 8px;
}

.form-control {
  background-color: white;
}

.login-image {
  padding: 0%;
  background-size: auto;
}

.body {
  height: auto;
}
