.log-in {
  margin: 30%;
  margin-top: 10%;
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 8px;
}

.form-control {
  background-color: white;
}

.login-image {
  padding: 0%;
  background-size: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  height:100%;
  width: 100%;
}

.body {
  height: auto;
  background-image: url("mountain.png");
}
