<div class="banner-container">
    <div class="banner-content">
      <h1>We've got your back!</h1>
      <h1>Pack in a little adventure with</h1>
      <h1>the help of your neighbor!</h1>
      <h1>Renting gear has never been so easy.</h1>
  <div class="search-bar">
  <%# searchbar-form %>
    <%= form_tag products_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a product"
      %>
    <% end %>
  <%# searchbar %>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-sm-8">
            <div id="products">
              <% @products.each do |product| %>
              <h4><%= product.name %></h4>
              <p><%= product.category %></p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
