 <h1> Welcome to bookings/index page</h1>

 <% @bookings.each do |booking| %>
  <ul>
    <li>Product ID:<%= booking.product.name %></li>
    <li>User ID:<%= booking.user.first_name %></li>
    <li>Status: <%= booking.status %></li>
    <li>Date:<%= booking.date %></li>
  </ul>
<% end %>
