
<div class="landing-background-container">
<ul class="navbar-logo">
      <li><a href="/products"><%= image_tag "white-share-gear.png" %></a></li>
    </ul>
    <div class="overlay">
    Start your adventure. <br/>save on gear <a href="/products" class="btn-orange" style="text-decoration: none; padding-top: 4px;">start renting</a>
    </div>
  </div>
</div>
