  <div class="card-product-container">
    <div class="cards">
      <div class="card-product">
        <% @products.each do |product| %>
        <img src="https://source.unsplash.com/random/?<%= product.name %>" />
          <div class="card-product-footer">
            <div>
              <h2><%= product.name %></h2>
              <p><%= product.category %></p>
            </div>
          <h2><%= product.price %></h2>
      </div>
      <% end %>
    </div>
  </div>
