  <%= render 'shared/navbar' %>
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div class="container text-center">
  <%= link_to "Browse products", products_path, class: "btn btn-primary" %>
</div>
