
.bookings-index-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin: 10%;
}

.bookings-booked-bottom img{
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}
.booking-card-infos{
  height: 100%;
}

.booking-card-infos h3 {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 0px;
  text-align: left;
  justify-content: space-between;
}

.bookings-booked-top{
  display: flex;
  justify-content: space-between;
  padding-bottom: 4px;
  align-items: center;
}
.bookings-booked-bottom {
  background-color: white;
  margin-bottom: 16px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 10px;
  border-radius: 8px;
}

.bookings-customer-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 4px;
  align-items: center;
}

.bookings-customer-container {
  background-color: white;
  margin-bottom: 16px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 10px;
  border-radius: 8px;
}
.my-gear-container {
  width: 100%;
}
// .bookings-index-container{
//   margin: 10%;
// }

// .bookings-card-products img{
  // height: 130px;
  // width: 100%;
  // object-fit: cover;
  // border-radius: 2px 2px 2px 2px;
// }

// .bookings-card-products {
//   overflow: hidden;
//   height: 150px;
//   width: 100%;
//   background: white;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
//   display: flex;
//   align-items: center;
// }
// .booking-card-infos{
//   height: 100%;
// }


// .booking-card-infos h2 {
//   font-size: 45px;
//   margin: 0;
//   text-align: start;
//   color: $teal;
// }

// .booking-card-infos h3 {
//   font-size: 12px;
//   line-height: 1.4;
//   opacity: .7;
//   margin-bottom: 0;
//   margin-top: 0px;
//   text-align: left;
//   justify-content: space-between;
// }

// .bookings-card-products .booking-card-infos {
//   padding-top: 3px;
//   padding-left: 16px;
// }

// #right{
//   width: 30%;
//   float:right;
// }

// .bookings-owner-container{
//   width: 50%;
//  float: left;
// }

// .bookings-customer-container{
//   width: 50%;
//   float: right;

// }
