.bookings-index-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  margin: 10%;
}


.my-gear-container {
  width: 100%;
}
.booking-index-card-bottom img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

booking-index-card-bottom h3 {
  color: $teal;
  padding-top: 10px;
}

.booking-index-card-top{
  display: flex;
  justify-content: space-between;
  padding-bottom: 4px;
  align-items: center;
}

.booking-index-card-bottom{
  background-color: white;
  margin-bottom: 16px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 10px;
  border-radius: 8px;
}
