.bookings-index-container{
  margin: 10%;
}

.bookings-card-products img{
  height: 200px;
  width: 20%;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
  float: left;
}

.bookings-card-products {
  overflow: hidden;
  height: 150px;
  width: 50%;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}


.booking-card-infos h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.booking-card-infos h3 {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 0px;
}

.bookings-card-products .booking-card-infos {
  padding: 16px;
}
