.btn-orange{
  text-decoration: none;
  border-radius: 20px;
  background-color: white;
  border: 1px;
  color: #C86610;
  text-align: center;
  height: 25px;
  width:75px;
  padding:2px;
}
.btn-orange:hover{
  background-color: #C86610;
  color: white;
}
