.btn-secondary {padding: 15px 25px;
  border-radius: 1px;
  font-weight: bold;
  background: white;
  color: $teal;
  transition: 0.3s ease;
  text-decoration: none;
  border-bottom: 1.5px solid $teal;
  width: 120px;
  height: 30px;
  text-align: center;
  font-size: 17px;
  padding-top: 5px;
  padding-bottom: 5px;
  }

  .btn-secondary:hover {
  opacity: 1;
  background: white;
  text-decoration: none;
  color: white;
  border-bottom: 1.5px solid $secondary;
  color:  $secondary;
  height: 20px;
  padding-top: 5px;
  padding-bottom: 5px;

  }
