.cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card-product-container {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 35px;
}

  .card-product-footer{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 70px;
    border-radius: 0 0 5px 5px;
    border-bottom: 2px solid $dark-teal;
    text-decoration: none;
    color: $secondary;
    background-color: white;
  }

  .card-product img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
    border-bottom: 2px solid $dark-teal;
    &:hover {
      height: 205px;
      transition-duration: .03s;
    }
  }

  .card-product h2 {
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    font-size: 20px;
  }

  .card-product p {
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    color: $teal;
  }

  .cards a {
    text-decoration: none;
  }
