.cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}
.card-product-container {
  margin-left: 10%;
  margin-right: 10%;
}

  .card-product-footer{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 70px;
  }

  .card-product img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }

  .card-product h2 {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    font-size: 20px;
  }

  .card-product p {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
  }
